html {
  text-align: center;
  background-color: #282c34;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

#banner {
  margin: 60px;
  background-color: #14161a;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: 100px;calc(10px + 2vmin);*/
  color: white;
  text-align: left;
}

.solarsystem {
  position: absolute;
  transform: translateX(290px);
}

.banner-title {
  position: absolute;
  left: 90px;
  top: 300px;
  width: 600px;
  height: min-content;
}

.banner-title h1 {
  font-size: 60px;
}


/* For smaller screensizes */

/* Responsive adjustments */
@media (max-width: 1200px) {
  section {
    padding: 50px;
  }

  #banner {
    margin: 30px;
    flex-direction: column; /* Ensure flex direction stays column */
    align-items: center; /* Align items in the center */
    text-align: center; /* Center text alignment */
    padding: 200px;
  }

  .banner-title {
    position: static; /* Remove absolute positioning */
    margin-top: 20px; /* Add margin for spacing */
    text-align: center; /* Center text alignment */
    width: 300px;
    height: 300px;
  }

  .banner-title h1 {
    font-size: 50px; /* Adjust font size */
    padding-bottom: 80px;
  }
}