/* Project.css */
.prodject-container {
    display: flex;
    justify-content: space-between; /* Adjusts spacing between the boxes */
    align-items: center; /* Aligns items vertically in the center */
    padding: 20px;
    color: rgb(255,255,255,0.2);
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s;
    min-height: 300px;
}

.prodject-container:hover {
    transform: translateY(-10px);
    color: rgb(255,255,255,1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project {
    background-color: rgb(17, 15, 15);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 60%;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.prodject-data {
    width: 30%;
}

.project-title {
    font-size: 3em;
    margin: 10px 0;
}

.project-description {
    font-size: 1.5em;
}

.logo {
    font-size: 3.5em;
    color: rgb(0, 0, 0);
}
