.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
}

#project-title {
    color: white;
}

.carousel-container {
    width: 100%; 
    max-width: 1100px; 
    background-color: rgb(73, 70, 70);
    padding: 0px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: fit-content;
    position: relative; 
    padding-inline: 150px;
}

.image-container {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

}

.slide-image {
    object-fit: contain;
    max-width: 110%;
}

.description {
    color: white;
    font-size: 20px;
    padding: 60px;
    transform: translateX(-60px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide.active .description {
    opacity: 1; 
    transform: translateX(0); 
}

.link-bar {
    margin: 25px;
}

.git-logo {
    font-size: 60px;
}  

@media (max-width: 900px) {
    .slide {
        flex-direction: column;
        padding-inline: 0; 
    }

    .image-container {
        width: 100%;
        height: 60vh; 
        position: relative; 
        justify-content: center;
    }

    .slide-image {
        width: 100%; 
        height: 100%; 
    }

    .description {
        transform: translateY(60px);
        font-size: 18px;
        text-align: center; 
        padding: 15px; 
    }

    .react-multi-carousel-arrow {
        z-index: 10; 
    }
}
