.socials-section {
    background-color: #14161a;
    padding: 40px;
    font-size: 25px;
    color: white;
    height: 400px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}


.socials-item {
    background-color: rgb(215, 210, 210);
    border-radius: 0;
    color: black;
    height: 200px;
    width: 180px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;

    transition: height 0.3s, width 0.3s;
}

.socials-item:hover {
    height: 220px;
    width: 200px;
}


.socials-logo {
    font-size: 75px;
    color: rgb(0, 0, 0);
}