.Planet {
    position: absolute;
}

.solarsystem {
    width: 400px;
    height: 400px;
    border-radius: 250px;
    border: 1px solid #ccc;
    overflow: visible;
    transform: translateX(0); /* Reset transform for small screens */
    margin-bottom: 20px; /* Add margin for spacing */
}


@media (max-width: 50px) {
    .solarsystem {  
        width: 250px;
        height: 250px;
        border-radius: 250px;
        border: 1px solid #ccc;
        overflow: visible;
    }
}