.Planet {
    position: absolute;
}

.solarsystem {
    width: 400px;
    height: 400px;
    border-radius: 250px;
    border: 1px solid #ccc;
    overflow: visible;
}


@media (max-width: 50px) {
    .solarsystem {  
        width: 300px;
        height: 300px;
        border-radius: 250px;
        border: 1px solid #ccc;
        overflow: visible;
    }
}